[2020-07-07 17:57] gijzelaerr opened #229 "Issues with LOFAR python package"
[code]
gives:
`ModuleNotFoundError: No module named 'lofar'`

[code]

gives:
[code]

[2020-07-08 12:10] o-smirnov commented on #229
@Athanaseus could you take a look please? Sounds like a simple packaging issue, and it's holding a few things back.

[2020-07-08 12:19] gijzelaerr commented on #229
he is already on it!

[2020-07-09 05:04] gijzelaerr commented on #229
this works now:
[code]

this also:
[code]

[2020-07-09 05:04] #229 closed

[2020-07-14 14:31] o-smirnov opened #230 "pyxis package fails to install"
See: https://github.com/ska-sa/pyxis/issues/102

There's another issue I fixed last week (https://github.com/ska-sa/pyxis/issues/101), so let's make a point release when both are fixed and roll a new package.

[2020-07-15 13:52] gijzelaerr opened #231 "add aartfaac2ms"
https://github.com/aroffringa/aartfaac2ms/

dependencies: cmake aoflagger libboost-python-dev build-essential aoflagger-dev zlib1g-dev libpng-dev libxml2-dev pkg-config libgtkmm-3.0-dev libcfitsio-dev libfftw3-dev libboost-filesystem-dev libboost-date-time-dev casacore-dev python3-numpy  libboost-numpy-dev

need to add `-DBoost_PYTHON36_LIBRARY=/usr/lib/x86_64-linux-gnu/libboost_python3.so`

[2020-07-27 10:53] r-xue commented on #227
Hi Gijs,

I created a Docker base image which packs casa6 under Ubuntu 20.04.
The documentation (**still a work-in-progress**) and source files are available here:
https://github.com/r-xue/casa6-docker

The original purpose of this repository was to help the distribution of another visibility simulation / modeling package I am developing. That modeling package depends on casatools (previously casa

[2020-07-27 10:59] gijzelaerr commented on #231
done!

[2020-07-27 10:59] #231 closed

[2020-07-27 15:55] gijzelaerr commented on #227
hi @r-xue thanks for taking the effort to share this.

Unfortunately, this doesn't seem to actually build CASA, something we need to do to build a proper package. What I also tried was to convert the wheel into a debian package using https://pypi.org/project/wheel2deb/. This almost worked, but the numpy and scipy versions required by casa were not available in the Debian archive. What are your exp

[2020-07-27 16:15] r-xue commented on #227
No. To minimize the task, I don't build casa6 binary. My [script](https://github.com/r-xue/casa6-docker/tree/master/casa6_install) basically uses **casatools** [.whl](https://casa-pip.nrao.edu/#browse/browse:pypi-group:casatools) released by NRAO (only for macOS/Linux under Py36 at this moment) and does some "hacking" jobs to get it installed under Py37/Py38. The script also works on macOS10.15 wh

[2020-08-12 18:28] o-smirnov opened #232 "libwsclean2 does not upgrade with wsclean"
I upgraded wsclean to 2.9, and it failed because libwsclean2 stayed at 2.6. A manual upgrade of the latter package fixed things, but isn't this something apt should be doing for me, if the dependencies are set correctly?

[2020-08-13 07:02] gijzelaerr commented on #232
Is this an upgrade from KERN-5 to KERN-6? What is the error? if it is missing symbols or mismatching API's then it caused by upstream authors being too lazy to update their SO numbers, a recurring problem since they don't see the need to maintain them. @Athanaseus we Could report this upstream, but this just keeps on happening so not sure if there is a point to keep on repeating ourselves. Probabl

[2020-08-13 10:01] o-smirnov commented on #232
Correct. ``wsclean`` binary was missing some symbol. So yeah, old library.

[2020-10-06 23:20] twillis449 opened #233 "MeqTrees KERN 6 not starting properly on XUbuntu 18.04"
So I just downloaded the KERN-6 version of MeqTrees and at startup I get
[twillis-e6540-i7 3:59pm] [fpa_elements]> meqbrowser
Welcome to the MeqTrees Browser!
Please wait a second while the GUI starts up.

 WARNING: couldn't import plugin 'Timba.Plugins.quickref_plotter' (API 'QString' has already been set to version 1)
  This plugin will not be available.

 WARNING: couldn't import plugin 'Timba.

[2020-10-07 06:34] gijzelaerr commented on #233
hm yeah, thats odd, should be 1.65:

https://packages.ubuntu.com/search?keywords=libboost&searchon=names&suite=bionic&section=all

and we don't hardcode 1.58 in the rules:

https://github.com/kernsuite-debian/meqtrees-timba/blob/master/debian/control

also, it should use python3 by now. Are you sure you are not using an older version? wat version of the meqtrees package ar you using.

[2020-10-08 23:48] twillis449 commented on #233
I'm using the the version of Mequrees you distribute as part of KERN-6. This is oriented toward ubuntu 18.04 and dumps its python code into /usr/lib/python2.7/dist-packages so its clearly still using python2 . With my current xubuntu18.04 the first thing that fails  is the simple script Cattery/qt.py which has the code
######################
# This file is a guard against import of PyQt3 modules.

[2020-10-08 23:49] twillis449 commented on #233
Sorry - no idea why the previous stuff is suddenly capitalised.

[2020-10-09 05:31] gijzelaerr commented on #233
What version of the package I mean

Op vr 9 okt. 2020 01:49 schreef Tony Willis <notifications@github.com>:

[2020-10-09 16:54] twillis449 commented on #233
I'm not sure - how do I tell? It would appear that the 'date' associated with the original code is Nov 19, 2019. All I'm doing to get meqtrees is issuing the command 'sudo apt-get install meqtrees' Looking at the original code on GitHub, I see that this is supposed to be the python3 compatible version but it should work with python 2 because the scripts all contain 'from __future__ import ...' sta

[2020-10-12 08:40] gijzelaerr commented on #233
`$ dpkg -l | grep meqtrees`

[2020-10-12 08:44] gijzelaerr commented on #233
Ok it looks like you are right, the timba package has been ported to python3:

https://github.com/kernsuite-debian/meqtrees-timba/blob/master/debian/control

but cattery has not been:

https://github.com/kernsuite-debian/meqtrees-cattery/blob/master/debian/control

@Athanaseus what do you think? I don't really understand how the cattery package can be build and/or installed, since it depends on `p

[2020-10-12 08:58] Athanaseus commented on #233
Kern-6 has `python-meqtrees-*`.
Currently, I was porting everything to `python3-*` (that's why timba on github says python3, but that's built for KERN-7 i.e. focal).

I tried reproducing the error above but I couldn't, I just get the warnings but it links to the right boost library. I tested this on ubuntu18.04.

PS: `dpkg -l | grep meqtrees`
[code]

[2020-10-13 18:20] twillis449 commented on #233
Yes you need both Kittens and Catterey installed to do anything useful with meqtrees-timba. Trying to build Cattery with python3 promptly croaks with

[code]

The octopussy.py script also croaks:

[code]

[2020-10-13 18:30] twillis449 commented on #233
I do have a working meqtrees package on a separate disk with  ubuntu 18.04 and an earlier KERN release, so don't worry about the issues I was raising - I'll just be very careful about OS upgrades on that disk.
[code]

[2020-10-13 18:49] Athanaseus commented on #233
File "/usr/local/lib/python3.8/dist-packages/Cattery/Pyxides/stefcal.py", line 505
offs = numpy.array([ getattr(v,attr)+sign*e/4 for v,e in (x,xe),(y,ye)
^
SyntaxError: invalid syntax

Currently building py3 for focal and I got the same too. I just made a patch and i will push the changes upstream too.

[code]

[2020-10-13 21:01] Athanaseus commented on #233
File "/usr/local/bin/meqbrowser.py", line 125, in <module>
    from Timba import octopussy
  File "/usr/local/lib/python3.8/dist-packages/Timba/octopussy.py", line 306
    def event_loop (self,await=[],timeout=None):
                         ^
SyntaxError: invalid syntax

I got relatively the same:
[code]

This seems like a `python3` violation.
"in Python 3.6 you could use await as a variable name

[2020-10-13 21:13] twillis449 commented on #233
That's very interesting. So why can't python give an error something like 'illegal use of keyword' or something similar, instead of 'invalid syntax'. I just couldn't spot any invalid syntax anywhere in that line of code or at the end of the previous function.

[2020-10-13 21:24] Athanaseus commented on #233
Yes, I agree not a very informative exception.

"It might be a little harder to solve this type of invalid syntax in Python code because the code looks fine from the outside. If your code looks good, but you’re still getting a SyntaxError, then you might consider checking the variable name or function name you want to use against the keyword list for the version of Python that you’re using."

[cod

[2020-10-13 21:50] twillis449 commented on #233
Looking at the octopussy. py code, I think some of this code like the 'await' and 'whenever' functions are Oleg's attempts to replicate ancient glish code from the early 2000s. I wonder if any of this stuff is used elsewhere in the current system.

[2020-10-13 23:27] twillis449 commented on #233
Grumble - looks like the author of the PythonQwt package has changed the python 'import' structure for the version which is actually supplied as part of Ubuntu 20.04 package manager. So all the visualization plugins require some modifications. Not that much work but it will take a few days.

[2020-10-16 22:18] twillis449 commented on #233
Did you come to any conclusion about how to handle the now forbidden 'await' function in python 3? Or what to replace it with? It turns out that there are quite a few mods needed in various places to get MeqTrees to actually work properly with python 3. And I'm stuck with the 'await'stuff. :(

[2020-10-18 07:36] Athanaseus commented on #233
I replaced any `await` function and keyword to `_await`. See patch below, I will confirm with @o-smirnov before I push changes to upstream.

[code]

[2020-10-18 08:33] o-smirnov commented on #233
So as I understand it, it's just because Python 3 has gone and reserved a keyword, we can't use it as a functional name anymore? So you've just renamed the function?

That's perfectly fine by me, please make a PR and push it.

[2020-10-19 08:17] gijzelaerr commented on #233
looks like it. @Athanaseus if you have a conflict between a variable and a keyword you usually append, not prepend un underscore. So `type_`, `file_`, `await_`. Using the `_` prefix marks a variable private, which you probably don't want in this case and can have unexpected results.

[2020-10-19 13:14] o-smirnov commented on #233
Good point @gijzelaerr, I'd forgotten about that. But BTW, the "_privateness" is just a convention and not enforced in Python, right? It just makes editors highlight it...

[2020-10-19 13:16] gijzelaerr commented on #233
https://stackoverflow.com/questions/1301346/what-is-the-meaning-of-single-and-double-underscore-before-an-object-name

_single_leading_underscore: weak "internal use" indicator. E.g. from M import * does not import objects whose name starts with an underscore.

[2020-10-19 13:21] o-smirnov commented on #233
"it still is possible for a determined soul to access or modify a variable that is considered private", or as they say in the Mother country, it's the bare-arsed that are the most cunning...

[2020-10-19 20:53] twillis449 commented on #233
I've mentioned this before (but yes I forget about them myself)  there are two scripts available to help with porting code - firstly 2to3 - see https://stackoverflow.com/questions/20458011/how-to-use-2to3-properly-for-python and b) pyqt4yopyqt5 - see https://github.com/rferrazz/pyqt4topyqt5

The Signals structure is changed in PyQt5 and is not backward compatible with PyQt4. Since PyQt4 is obsolet

[2020-11-20 16:13] phiadaarr opened #234 "python3-casacore cannot find dysco"
When I do:
[code]
where `name.ms` is a dysco-compressed measurement set, I get the error:
[code]

My docker file looks like this:
[code]

Do you have an idea what is going on? I found this issue: https://gitlab.rrz.uni-hamburg.de/hpc/lofar-build/-/issues/5 with this fix: https://gitlab.rrz.uni-hamburg.de/hpc/lofar-build/-/commit/0a38007638f9b311261e9e9b3289e97f2f8c77a3
Can this be integrated into

[2020-11-25 06:28] Athanaseus commented on #234
Hi @phara92 thanks for reporting this.
Is there a dscompress test ms that I can use to replicate this? that will also help in testing the fix. Thanks.

Not sure why I get a core dump trying to make my own:
`dscompress -afnormalization -truncgaus 2.5 -data-bit-rate 4 -weight-bit-rate 12    -column DATA  data.ms`

[code]

[2020-11-25 06:30] gijzelaerr commented on #234
@phara92 is there a specific reason you are using `kern:dev`? Do you experience the same issue with KERN-6?

[2020-11-25 10:19] phiadaarr commented on #234
@Athanaseus I do not know what happens there in your case. It looks like the MS is corrupted. But I really do not know what is going on.

@Athanaseus I do not know if I can share the MS I am trying to use with you. First I would need to ask the people who gave it to me.

@gijzelaerr Since I am a tool developer, I thought `kern:dev` is appropriate :) But the issue is also present on `kern:latest`.

[2020-11-25 12:14] gijzelaerr commented on #234
I remeber now, try installing the `dysco-dev` package also in the docker container, that should install the missing SO symlinks. I don't remember how casacore and dysco are linked, but this casacore version is looking for dysco SO version5 while there is only a 2 in KERN-6. Now hope they are compatible.

[2020-11-25 13:48] phiadaarr commented on #234
`dysco-dev` is not part of `kern:latest`. With `kern:dev` I get the following error now:

[code]

[2020-11-25 15:18] gijzelaerr opened #235 "Point kernsuite/base:latest to kern-6"

[2020-11-25 15:18] gijzelaerr commented on #234
`kernsuite/base:dev` is for testing usage and should not be relied on by astronomers unless figuring out compatibility issues just before a release. `kernsuite/base:latest` points to kern-4, not sure why that is not properly updated. Made issue: https://github.com/kernsuite/packaging/issues/235

About that dysco error I'm also not sure what is going on, since both casacore and dysco are the latest

[2020-11-25 16:05] phiadaarr commented on #234
To me it seems to be a build issue. But I will ask upstream anyways.

[2020-11-25 21:43] phiadaarr commented on #234
André says:

And apparently does not feel responsible for this. Do you think we can figure this out on the KERN side?

[2020-11-26 06:28] gijzelaerr commented on #234
Yeah this isn't very helpful and Andre doesn't care about proper management of SO numbers. Doing proper SO version managed is supposed to address this and would make it easier to pinpoint the issue.

@Athanaseus can you have a look at this? Maybe just do a rebuild of the latest casacore and dysco package and see if we can reproduce the error, maybe indeed somewhere a version got mixed up

meanwhil

[2020-11-26 09:06] tammojan commented on #234
We're doing our best to make the software work for everyone, but it takes a lot of effort to keep everyone happy.

Casacore has a feature to find storage managers at runtime, in this case `libdyscostman.so`. For this to work, that library has to be installed, in the library search path (e.g. in `/usr/local/lib` or in some directory in `LD_LIBRARY_PATH`), and it has to be linked to the same casacor

[2020-11-26 10:04] aroffringa commented on #234
That's not a very collaborative remark, @gijzelaerr . And also just irrelevant: this doesn't have to do with proper SO versions of Dysco. The Dysco library ABI has never changed. It's the environment Dysco lives in, which is what Kern should fix.

Of other packages, like aoflagger or wsclean, the ABI changes every release and even subreleases. Ole has a good solution for that, namely always depend

[2020-11-26 10:13] gijzelaerr commented on #234
just closing an issue is not very collaborative either. Most of the issues people have is with casacore and related libs having compatibility issues. for years I've tried to improve the situation by checking this and working together with upstream trying to improve the situation. Since I'm currently not paid to work in radio astronomy anymore, I'm doing this now in my spare time and I've lost the

[2020-11-26 10:27] aroffringa commented on #234
Frankly I didn't just close it, I gave an answer pointing as best as I could at what was the problem. I agree it would have been nicer if I had said "I'm closing this ticket here because I think it's not a Dysco issue I can fix", but it was late and thought closing implied this, so my apologies for that (the "comment and close" button is also just too easy to click ;) ). But throwing random accusa

[2020-11-26 10:36] gijzelaerr commented on #234
Yeah, I also could and should have brought the message differently, but I'm of the impression that SO versioning really is not seen as useful for managing dependencies at ASTRON, while Debian packages heavily relies on this. The Debian and KERN packages are almost the same, so maybe something is going wrong in the build procedure. Hopefully, @Athanaseus can find the time to look at this.

[2020-11-26 11:26] phiadaarr commented on #234
I really do appreciate the effort by all of you :) :) :)

[2020-11-26 11:26] aroffringa commented on #234
I think this is a different discussion. I can't really speak for ASTRON as a whole, but I'm open to discussions about how to help packaging of software, but I'm not aware of any issue with the setup of SO versions in other packages I maintain. Ole seems to have a system for it which works well.

Having a second version number going in parallel to the regular version nrs is a bit of a pain, certain

[2020-11-26 11:59] gijzelaerr commented on #234
As far as I remember, Ole or I have not introduced any ABI changes with
distro-specific patch releases. I understand the trouble, and it isn't
easy. In a couple of weeks, I'll have a holiday coming up, and hopefully, I
have a bit more time to look into this/these issues.

Op do 26 nov. 2020 om 13:27 schreef André Offringa <notifications@github.com

--
Gijs Molenaar
http://pythonic.nl

[2020-11-26 19:55] Athanaseus commented on #234
small-dysco.MS.zip

Thanks @tammojan, it looks like the zipped file is empty though.

[2021-02-10 10:45] o-smirnov opened #236 "building wsclean on kern-6"
So I would have expected that ``apt-get build-dep wsclean`` would install me everything I need to build the latest wsclean from source, but not so, it can't find ``pybind11/embed.h``. I do have ``pybind11-dev`` installed.

[code]
What am I missing?

[2021-02-10 10:48] gijzelaerr commented on #236
you are probably building a newer version of WSclean than the one that is part of KERN-6.

[2021-02-19 13:03] gijzelaerr commented on #160
@phara92 @landmanbester working on KERN-7, do you guys think we should givet his a try?

[2021-02-19 13:14] phiadaarr commented on #160
Yes! I have created a new tag for you: https://gitlab.mpcdf.mpg.de/ift/nifty/-/tags/6.0_kern
If you like to release KERN-7 soon that would be the version to go for. What are your time scales for the release of KERN-7?

[2021-02-19 13:34] gijzelaerr commented on #160
the time scale is ASAP :)

[2021-02-19 13:37] gijzelaerr commented on #160
ok above comments still apply, we are building KERN-7 for focal, which comes with numpy 1.16.5 and scipy 1.3.3. So unless you can modify nifty to support these versions I can't make a debian packages for focal.

[2021-02-19 13:53] phiadaarr commented on #160
Given that installing nifty is a one-liner with `pip` and relies on numpy and scipy versions that many people have in their home folders anyways, I would suggest to delay including nifty into KERN.
Backporting nifty to the state of the art of Dec 2019, especially given that the performance and accuracy of the FFT implementations have been improved so much in the meantime, does not feel like a sens

[2021-02-19 14:01] mreineck commented on #160
I don't think we can make these modifications retroactively...
Not blaming you by any means, but rather the Ubuntu packagers: numpy 1.17 was released in July 2019, and scipy 1.4 in December 2019, so why didn't they end up in focal, which appeared in April 2020? Hmm, perhaps because numpy 1.17 dropped Python2 support ...

[2021-02-19 14:06] gijzelaerr commented on #160
if you look at the discussion before then you will see we are saying the same thing and not much changed meanwhile. Nifty is not suited for inclusion in KERN-7, nor will it be suited for KERN-8 since that will also be based on Ubuntu focal. It's sad but I can't do much about this. Again I recommend sticking with the binary wheels. An alternative is to get a Debian package into Debian unstable, whi

[2021-02-19 14:13] landmanbester commented on #160
I don't really see the point of getting this into kern since it installs with pip. You can probably close the issue

[2021-02-19 14:14] gijzelaerr commented on #160
ok, maybe we should try again for KERN-9. sorry!

[2021-02-19 14:14] #160 closed

[2021-02-19 14:14] gijzelaerr commented on #236
we will include the latest WSclean in KERN-7

[2021-02-19 14:14] #236 closed

[2021-02-19 14:15] gijzelaerr commented on #228
I don't  think DDfacet is in a state close to packagable...

[2021-02-23 12:50] Athanaseus opened #237 "error: 'const class casacore::GaussianMultipletSpectralElement' has no member named 'getGaussians"
Trying to building `casarest` for ubuntu focal with `casacore-3.4.0`
[code]

[2021-02-23 12:57] Athanaseus commented on #237
Issue opened upstream: https://github.com/casacore/casarest/issues/40

[2021-03-09 09:54] Athanaseus commented on #228
Some of the requirements not packaged

[code]

[2021-03-09 09:56] Athanaseus opened #238 "prefactor still py2"
KERN 7 requires all packages to be at least python3.

[2021-03-09 10:02] Athanaseus opened #239 "shm went off the radar"
The resource requested could not be found on this server!
http://nikitathespider.com/python/shm/

[2021-03-09 10:04] Athanaseus commented on #224
Now in KERN.

[2021-03-09 10:04] #224 closed

[2021-03-09 10:29] gijzelaerr commented on #228
lets just give up on ddfacet, it is close to impossible to make a debian package of ut,

[2021-03-09 10:29] #228 closed

[2021-03-09 10:33] gijzelaerr commented on #238
the latest release is py2, but master seems to be py3. that said, it is not really a package but just a bunch of scripts. I think we should just drop this package (for now), since it will take quite some time to convert the repo into a proper python package. Upstream doesn't seem to have an interest in heading into a python package direction.

[2021-03-09 10:33] gijzelaerr commented on #239
what package depends on this? i think it was a python lib used by a package that is not included anymore?

[2021-03-09 10:34] gijzelaerr commented on #224
jeej, well done.

[2021-03-09 10:39] Athanaseus commented on #239
Yeah, I can't find anything that depends on this.

[2021-03-09 10:51] Athanaseus opened #240 "pymoresane still python2"
KERN 7 requires all packages to be at least python3.
https://github.com/ratt-ru/PyMORESANE

[2021-03-09 11:31] gijzelaerr commented on #239
cool, lets drop it.

[2021-03-09 11:31] #239 closed

[2021-03-09 11:34] gijzelaerr commented on #227
I think we by now all agree that this packaging path is just too much effort unless the compatibility upstream changes at some point. For now I'm going to close this issue.

[2021-03-09 11:34] #227 closed

[2021-03-09 11:34] #238 closed

[2021-03-09 11:35] gijzelaerr commented on #240
there are no signs of development on this package anymore, lets drop it.

[2021-03-09 11:35] #240 closed

[2021-03-09 11:36] gijzelaerr commented on #149
closing this issue, the dependencies are too 'new' for ubuntu 20.04 :)

[2021-03-09 11:36] #149 closed

[2021-03-09 11:38] gijzelaerr opened #241 "Add latest tigger with new pyqt support"
when @razman786 is done with his refactoring https://github.com/razman786/tigger_lsm_pyqt5

[2021-03-09 11:41] Athanaseus opened #242 "tmv doesn't build"
[code]

Should I open an issue upstream perhaps, even though developments have taken place about 3 years ago?

[2021-03-09 11:43] gijzelaerr commented on #242
i think TMV is a library that was used by a package we don't include any more, what depends on this?

[2021-03-09 11:57] Athanaseus commented on #242
`GalSim` uses this.

From docs it says: `GalSim` can use either Eigen or TMV for its linear algebra routines.
https://github.com/GalSim-developers/GalSim

[2021-03-09 12:31] gijzelaerr commented on #242
galsim is not that important, so nice to have but otherwise we can drop it. you could try to get it to work with eigen.

[2021-03-19 09:40] gijzelaerr opened #243 "add EveryBeam"
https://git.astron.nl/RD/EveryBeam

currently, the software manually downloads beam models. Tammo-jan indicated astron wants to rewrite the code, and have some beam models without downloading. WHen this is implemented, we can add the package. WSclean can then be rebuild with support for this package.

[2021-03-19 10:17] gijzelaerr opened #244 "wsclean 2.10.1 compilation issues on ubuntu 20.04"
[code]

[2021-05-17 06:03] gijzelaerr commented on #230
1.7.1 has been pushed to KERN-7, i think this issue is resolved.

[2021-05-17 06:03] #230 closed

[2021-05-17 06:03] gijzelaerr commented on #232
@Athanaseus can you see if my proposed change works?

[2021-05-17 06:07] gijzelaerr commented on #233
since this issue is mostly about getting meqtrees to work on a modern (py3) distro, i'm moving this discussion to the meqtrees issue tracker: https://github.com/ska-sa/meqtrees-cattery/issues/109

[2021-05-17 06:07] #233 closed

[2021-05-17 06:18] gijzelaerr commented on #235
done https://hub.docker.com/layers/kernsuite/base/latest/images/sha256-827f713bde7df2dc267019aca08ea0212b45677742b6a0366afbd9b94cd2c628?context=repo

[2021-05-17 06:18] #235 closed

[2021-05-17 06:19] gijzelaerr commented on #234
@phiadaarr can you see if this is solved with KERN-7? Thanks!

[2021-05-17 06:19] gijzelaerr commented on #242
lets just drop this package, we don't need it anymore.

[2021-05-17 06:19] #242 closed

[2021-05-17 06:21] gijzelaerr commented on #244
I think this was caused by a patch imported from Debian but breaking the cmake logic.

[2021-05-17 06:21] #244 closed

[2021-05-17 06:22] gijzelaerr commented on #198
@Athanaseus did you make progress adding jiveplot?

[2021-05-17 14:16] Athanaseus commented on #198
I'm working on this right now. It seems like the code is not fully ported to python3 yet?
https://github.com/haavee/jiveplot/search?q=print

[2021-05-17 14:18] gijzelaerr commented on #198
could be, @haavee what is the py3 status of jiveplot?

[2021-05-17 14:39] haavee commented on #198
I have a Py3 branch that I've tested internally and seems to be working. However, with Python you're never _quite_ sure you've tested all code paths, but smoke tests were passed.
_I don't think I've pushed that branch but certainly could give that a go_.

Actually - the branch *is* on the public github already:
https://github.com/haavee/jiveplot/tree/python23compat

[2021-05-17 14:41] haavee commented on #198
We've had some issues with the webserver configuration lately, sorry for the inconvenience. The pages themselves were never at risk.

[2021-05-18 08:55] Athanaseus commented on #198
Thanks @haavee, I'm testing the Py3 patch. Can I ask:
Why `jiveplot` has no `setup.py` file?
 Is `ppgplot` a dependency or can we still use `giza`?

[code]

Solved by:
`pip install git+https://github.com/haavee/ppgplot.git`

[code]

[2021-05-18 10:09] haavee commented on #198
Hi @Athanaseus,
`jiveplot` does not have a `setup.py` because I never intended it as a package, but as a standalone command line program, e.g. installed in `/usr/local/bin`. The structure of the project therefore never followed the proper model.

If the dependency issue(s) can be fixed with a `setup.py`, that would be an option, although I'm not sure how easy it would be to backport the proper pro

[2021-05-18 13:45] Athanaseus commented on #198
@haavee I think packaging can still be possible even if it's a command-line program.
It will be easy to restructure from looking at the source code.
Also, this will surely resolve the dependency issues.
It's not that complicated, so if you don't mind I can set it up for you.

[2021-05-18 13:47] haavee commented on #198
Oh that would be generous if you could help with that!

[2021-05-18 13:52] Athanaseus commented on #198
Cool. I using `Py23` branch to set it up. Can you please add me to the project and I will push the branch for you to review.

[2021-05-18 15:35] haavee commented on #198
Can't you fork-and-make-a-PR?

[2021-05-19 06:31] Athanaseus commented on #198
Good idea. Here check it out https://github.com/haavee/jiveplot/pull/17

[2021-05-24 18:37] o-smirnov opened #246 "owlcat vs python3-meqtrees-cattery on KERN-7: broken dep?"
[code]

[2021-05-25 07:09] gijzelaerr commented on #246
owlcat depends on meqtrees cattery:

https://github.com/ska-sa/owlcat/blob/master/setup.py#L12

unfortunately, meqtrees has not been ported to py3 (yet).

if it is an optional dependency, it should be made an optional dependency upstream.

[2021-05-25 08:37] o-smirnov commented on #246
Actually, meqtrees-cattery has been ported. In fact the whole stack is ported to py3. The only issue is that the meqbrowser app needs qt4, which has been dropped in Focal.

So we need to make a plan to package everything except the browser (or even package the browser and have it bomb out with an error message).

Cheers,
Oleg

[2021-05-25 09:05] gijzelaerr commented on #246
cool cool. @Athanaseus can you try to create a package for https://github.com/ska-sa/meqtrees-cattery/releases/tag/v1.7.2 ?

[2021-05-25 09:24] o-smirnov commented on #246
But also ``meqtrees-timba`` please, sans browser.

[2021-06-20 11:43] phiadaarr commented on #234
No, it is still not working.

I use the following docker file now:

[code]

Same errors.

[2021-06-22 08:17] prolate-meteors commented on #234
Hi @phiadaarr, can you try:

`RUN docker-apt-install dysco-dev python3-casacore`

[2021-06-22 08:18] gijzelaerr commented on #234
@phiadaarr i'm surprised this still happens, since KERN-7 is a full rebuild of all packages with the latest versions. can you please give the exact commands you are running, the error and if possible the file you are trying to process, or preferably a small example file that triggers your error.

[2021-06-22 08:19] Athanaseus commented on #234
Hi @phiadaarr, can you try:

`RUN docker-apt-install dysco-dev python3-casacore`

[2021-06-22 08:39] phiadaarr commented on #234
With this

I get `Illegal instruction (core dumped)`.

I described that above. The measurement set I try to process is 5GBs big, so this is kind of sharable size-wise. I have to ask the person who shared the data with me, if I am allowed to share it with you for debugging purposes. I will let you know as soon as I have the answer.

[2021-06-22 08:58] Athanaseus commented on #234
This is what I get with the [ms](https://drive.google.com/file/d/13o3iLo8x2q3Xf8HblIUSunSs4P06qXEe/view?usp=sharing) @tammojan sent:

[code]

Dockerfile:
[code]

Docker run commands:
`docker build . -t dysco`
`docker run -v /path/to/dysco/ms:/home -it dysco`

Edit: MS link

[2021-06-22 09:02] phiadaarr commented on #234
I cannot download this ms since it is on Slack and I do not have an account there. Could you share it in a form that I can access it?

[2021-06-22 09:07] Athanaseus commented on #234
try: https://drive.google.com/file/d/13o3iLo8x2q3Xf8HblIUSunSs4P06qXEe/view?usp=sharing

[2021-06-22 09:26] phiadaarr commented on #234
Thank you. I get the same error:

[code]

And if I use `dysco-dev`, I get again:

[code]

My machine has the following CPU flags:

[code]

Maybe you assume during compilation something that is not present on that machine? I will try the same thing on a newer machine as well.

[2021-06-22 09:50] gijzelaerr commented on #234
I get the same error with this dockerfile and the MS from the google drive:
[code]
But when do a `docker-ap-install dysco-dev` the error goes away. The dysco included in KERN uses SO version 2:

[code]

Dysco has been uploaded 4 days after casacore, so it should be linked to the casacore version KERN-7.

I think the segmentation fault is caused by an issue with dysco and your specific MS, since th

[2021-06-22 10:42] gijzelaerr commented on #234
about the machine CPU flags, we are quite conservative with our optimisation flags, so I don't expect this to be an issue.

[2021-06-22 11:01] phiadaarr commented on #234
On a newer machine, everything works now. Thanks a lot!

Shall we dig into the issue with the older machine (it has an `AMD Opteron(tm) Processor 6376`) or leave it as it is?

[2021-06-22 11:10] gijzelaerr commented on #234
Interesting, thanks for figuring that out. My guess is that the default dysco optimisation flags are then assuming a modern system. As far as I know, we don't touch the optimisation flags to avoid this kind of issue.

I think for now it Is just good enough that we triangulated the issue, no further investigation required. The optimisation is a bit of an issue with the Debian packages, since we don

[2021-06-22 11:19] phiadaarr commented on #234
It is unclear to me if 2012 is already too old. But fortunately I do have an alternative machine. The original issue `python3-casacore cannot find dysco` is certainly resolved.

[2021-06-22 11:19] #234 closed

[2021-06-25 18:53] bellab4710 opened #247 "Purify not working in kern-4"
Hi, I saw in issue #77 that purify should be present in kern 4/dev. However, when I install either kern version and then install the purify package, it doesn't work, giving me the error message "terminate called after throwing an instance of 'casa::TableNoDatFile'
  what():  Table file /root/table.dat does not exist
Aborted (core dumped)."
Is there anything that can be done about this?

[2021-07-05 10:39] gijzelaerr commented on #247
hi @bellab4710

Purify is part of the normal Ubuntu 18.04 packages, also for KERN-4. But I recommend you use a later version of KERN, since KERN-4 is not actively supported anymore.

[2021-07-05 10:39] #247 closed

[2021-07-23 12:30] o-smirnov opened #248 "what happened to apsynsim?"
It used to be in KERN-6, but no more. Why has it been #cancelled?

[2021-07-23 12:32] gijzelaerr commented on #248
it was just not added and nobody complained until now. @Athanaseus can you have a look? upload it to both KERN-6 and KERN-7.

[2021-07-23 12:37] o-smirnov commented on #248
Confused why I have it installed on my laptop though. Maybe it's the case that it was in KERN-5 and just stayed installed.

Consider me complaining!

[2021-07-23 12:41] gijzelaerr commented on #248
here is a list of other packages that didn't make it to KERN-6 https://github.com/kernsuite/packaging/issues/226

please open an issue if you see something that is important

[2021-07-23 12:50] o-smirnov commented on #248
So the checked checkboxes are the ones that **have** made it into KERN-6?

[2021-07-26 08:36] Athanaseus commented on #248
Yeah, I'm looking into this. I got this description on the website 'Source code. Please, run on Python 2.7 and install any missing dependency.' If this means it only runs python2 this is an issue for KERN-7.
https://launchpad.net/apsynsim/+download

[2021-07-26 08:36] Athanaseus commented on #248
Yes, that's correct.

[2021-07-26 09:17] o-smirnov commented on #248
Last I looked, there was a Python3 version in the source tree as well, so let's just check if that runs?

[2021-07-27 11:06] Athanaseus commented on #248
OK it worked. I uploaded the new py3 upstream version `2.0b` on KERN (6,7, dev).

[2021-07-27 11:12] Athanaseus commented on #246
I uploaded `meqtrees-cattery`.  I'm stuck with `meqtrees-timba` since it depends on `casarest`,  and apparently, this is a stale package, I wasn't able to package it. I have couple of issues, some which I solved others not. I have opened the issue upstream but no response yet. https://github.com/casacore/casarest/issues/40.

If I can remember we only need `casarest` for `lwimager`? Can timba roll

[2021-07-27 11:50] o-smirnov commented on #246
Yeah absolutely. I think the only place it uses ``lwimager`` is in the batch test. We could even just redo the test using wsclean?

[2021-07-27 12:08] Athanaseus commented on #246
Yes, that's even a better alternative.
Are you referring to the the `make_ms.sh` here https://github.com/ska-sa/meqtrees-cattery/search?q=lwimager?

[2021-07-29 11:33] o-smirnov commented on #246
That's just used to insert MODEL_DATA and CORRECTED_DATA columns. Not sure it's even necessary TBH!

[2021-08-25 10:17] Athanaseus commented on #241
Done! Now on KERN-dev and KERN-7.

[2021-09-07 09:27] #241 closed

[2021-09-07 09:27] gijzelaerr commented on #232
@Athanaseus was this change uplaoded?

[2021-09-07 14:48] Athanaseus commented on #232
Yes, this is fixed.

[2021-09-07 14:57] #248 closed

[2021-09-07 14:58] #232 closed

[2021-09-07 14:58] gijzelaerr commented on #232
awesome, thanks

[2021-09-07 15:34] gijzelaerr commented on #246
what about this one @Athanaseus , has this been resolved or is this still work in progress?

[2021-09-07 15:38] gijzelaerr commented on #132
it looks like parceltongue has a new release http://www.jive.nl/parseltongue/releases/parseltongue-3.0.tar.gz

@Athanaseus can you have a look at that?

[2021-09-07 15:39] gijzelaerr commented on #222
there seems to be an update of the jive build of obit: http://www.jive.nl/parseltongue/releases/

[2021-09-09 07:19] gijzelaerr commented on #243
Tammo-Jan indicated that this is still planned but did not happen yet.

[2021-09-10 08:18] Athanaseus commented on #222
I'm getting the following (even after installing pkg-config & autoconf).

[code]

Any idea? Running the `autoreconf --install` command manually without `debuild` works.

[2021-09-10 08:28] gijzelaerr commented on #222
maybe @haavee has an idea?

[2021-09-10 12:22] haavee commented on #222
Hi all, no I don't have an idea, sorry. For `Obit` build related questions I think it's better to ask @kettenis.

[2021-09-14 11:41] kettenis commented on #222
Well, the "jive build" of Obit is deliberately stripped down to avoid all sorts of build problems.  But it only provides a basic Obit python module for use with ParselTongue. All Obit tasks have been removed.

Packages for most Ubuntu releases are available in my PPA:

https://launchpad.net/~kettenis-w/+archive/ubuntu/parseltongue

The package for Python 3 is called python3-obit.

Patches to make

[2021-11-04 20:41] drtobybrown opened #249 "Docker build failed installing python-casacore"
I'm trying to use the following example as a base for a Docker image:

Dockerfile:
[code]

However, `docker build -t drtobybrown/kernsuite:v0.1 .` throws the following build error:
[code]

[2021-11-04 23:26] drtobybrown commented on #249
typo in the docs

`docker-apt-install python-casacore` -> `docker-apt-install python3-casacore`

[2021-11-05 10:09] #249 closed

[2021-11-11 13:54] bennahugo opened #250 "Missing DEP-11 48x48 Icons Kern 5"
Using kern 5 as production environment at home and missing
[code]
Any chance the package can be reuploaded @Athanaseus ?

[2021-11-11 13:55] bennahugo commented on #250
I tried apt update already to refresh the lists, but still missing

[2021-11-11 13:57] gijzelaerr commented on #250
what package are you installing?

[2021-11-11 13:58] bennahugo commented on #250
I have a series of packages already installing I'm installing a non-kern related package and this  is one of the errors popping up when I run apt-get update. I'll see about getting a list of kern 5 packages on my system

[2021-11-11 13:59] gijzelaerr commented on #250
KERN-5 is functioning fine, to me it looks like you have a broken apt configuration.

[code]
works fine without issues.

[2021-11-11 14:03] gijzelaerr commented on #250
maybe should try re-adding the kern repo

https://askubuntu.com/questions/1336883/if-i-make-an-update-i-get

[2021-11-11 22:22] bennahugo commented on #250
that actually worked. Thanks for pointing it out. never seen the apt cache corrupts like this and not fixable by update

[2021-11-11 22:22] #250 closed

[2021-11-18 13:52] aroffringa opened #251 "AOFlagger package on Kern broken"
The AOFlagger package of Kern is broken; the `.lua` strategies are not installed. The Debian package made by Ole does work properly, so maybe it is possible to use the Debian package.

On Debian, dpkg -L aoflagger produces the list below. The .lua files are the ones missing on Kern. Having these not available breaks parts of AOFlagger's `rfigui`.

[code]

[2021-12-07 09:07] gijzelaerr commented on #251
@Athanaseus can you have a look at this?

[2021-12-07 14:10] 0xCoto opened #252 "KERN-5: Unable to locate package presto"
I am using Ubuntu 18.04 (arm64) and I am trying to install [PRESTO](https://github.com/scottransom/presto/). However, installing PRESTO is generally a very tricky task. Could KERN assist in that regard by automating the whole process of installing PRESTO and its prerequisites (TEMPO, PGPLOT etc.)?

Trying with KERN-5 yields no luck:
[code]
However, when I run `sudo apt-get install presto`, it look

[2021-12-07 14:18] gijzelaerr commented on #252
I have no issue finding the `presto` package in KERN-5:

[code]

[2021-12-07 15:04] 0xCoto commented on #252
@gijzelaerr Thanks for the quick response. As I'm not using docker here, what could I try to debug this issue?

[2021-12-07 15:10] gijzelaerr commented on #252
It's because you are running `arm64`, kern only supports 64 intel compatible architectures.

are you running this on apple M1? If so you could try to do the same through the rosetta x64 emulation.

[2021-12-07 15:11] 0xCoto commented on #252
No, I'm running Ubuntu arm64 on a Jetson Nano machine.

[2021-12-07 15:31] gijzelaerr commented on #252
Sorry mate, we don’t support that yet! Maybe for kern-8!

[2021-12-07 15:31] #252 closed

[2021-12-08 14:35] Athanaseus commented on #251
Thanks for the issue. Updates pushed to KERN-7 and KERN-dev.

[2021-12-15 11:42] o-smirnov opened #253 "chgcentre seems to be missing on KERN-7?"

[2021-12-15 11:43] o-smirnov commented on #253
No sorry my bad.

[2021-12-15 11:43] #253 closed

[2021-12-15 11:55] #251 closed

[2021-12-15 11:56] gijzelaerr commented on #237
this is fixed upstream, did a package land in KERN-7?

[2021-12-15 11:59] Athanaseus commented on #237
Not yet, I was waiting for a tagged release.

[2022-01-04 13:30] ifornax opened #254 "python-casacore has no installation candidate"
Hi,

I followed the instructions to install python-casacore on ubuntu 20.04 and get the following error:

Distributor ID: Ubuntu
Description:    Ubuntu 20.04.3 LTS
Release:        20.04
Codename:       focal

$ sudo apt-get install python-casacore
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package python-casacore is not available, but is referred to by

[2022-01-04 13:31] gijzelaerr commented on #254
do you mean python3-casacore?

[2022-01-04 13:36] ifornax commented on #254
Yeah should be python3-casacore in the https://kernsuite.info/ info.
It has installed now.
Thanks

[2022-01-04 13:44] gijzelaerr commented on #254
@Athanaseus can you update the main website to avoid this confusion?

[2022-01-06 07:46] #254 closed

[2022-01-13 11:10] Athanaseus commented on #222
Hi @kettenis thank you for the information it helped.
I successfully built obit and python3-obit.
(I also tried installing the version from your PPA)

How do I go about testing if it works after installation (I never used obit before and I find the documentation not straightforward)?

[2022-01-14 08:07] Athanaseus commented on #132
The latest parseltongue has been uploaded to KERN-dev and KERN-7.

[2022-01-14 11:03] gijzelaerr commented on #132
you are a hero!

[2022-01-14 11:03] #132 closed

[2022-01-15 12:03] Athanaseus commented on #237
Latest `casarest` uploaded to KERN-dev & KERN-7.

[2022-01-15 12:07] gijzelaerr commented on #237
awesome! thanks @Athanaseus

[2022-01-15 12:07] #237 closed

[2022-01-26 17:05] bennahugo opened #255 "Kern 7 casarest is missing image2fits"
Downstream in meqtrees test case
[code]

Building casacore + casarest manually gives me this target, ie.:
[code]

[2022-01-26 20:54] bennahugo commented on #255
So just to link this to the discussion on timba:
https://github.com/ska-sa/meqtrees-timba/pull/69#issuecomment-1022590531

The package is definitely missing some install targets.

[2022-01-27 12:26] Athanaseus commented on #255
This can be solved by getting updates before package installation since there were a couple of bug fixes since the image was built.
[code]

[2022-01-31 08:12] Athanaseus commented on #246
This should be resolved. The latest `Meqtrees` and `owlcat` are uploaded to KERN-7.

[2022-02-11 08:28] JSKenyon opened #256 "Missing dependencies for tigger"
When attempting to install `tigger` from kern-7 on a fresh Pop!_OS 20.04 install (effectively Ubuntu), installation proceeds as normal, but attempting to run `tigger` gives the following error:

![Error](https://user-images.githubusercontent.com/6582745/153559123-2c85aaaa-0426-495b-8afe-2e002c0b0e0d.png)

[2022-02-11 08:43] gijzelaerr commented on #256
does installing any of these packages resolve your issue? @Athanaseus I think we need to manually upload the upgraded qwt package that is in the trigger repo now, maybe I already uploaded the source package to the kern-debian repo somewhere

[2022-02-11 08:53] JSKenyon commented on #256
I think I have managed to satisfy some of them manually now - I can run `tigger` after a reinstall. Not entirely sure what I ultimately had to install though - I think I ended up installing every qt related package I saw on the [repo](https://github.com/ska-sa/tigger).

[2022-02-11 10:21] Athanaseus commented on #256
Thanks for the issue @JSKenyon.

Yes, they are already uploaded.

These requirements were not specified in the run-time dependencies.
It's fixed now, updates uploaded to _KERN_, it should be public in a bit.

`sudo apt install tigger` should now automatically install all the dependencies.

[2022-02-11 12:40] JSKenyon commented on #256
Can confirm that this is now fixed. Thanks @Athanaseus and @gijzelaerr!

[2022-02-11 12:40] #256 closed

[2022-03-16 08:16] StFroese opened #257 "Can't install lsmtool with kern7"
I can't install the lsmtool with kernsuite/kern7.
I followed the install instruction on the website
[code]
### Error
[code]

[2022-03-16 13:18] Athanaseus commented on #257
Thanks for the issue @StFroese.
Since we dropped python2 support this should have `python3-lsmtool` as a run-time dependency.
I have made a fix on this package.

Please try re-installing after doing `apt update.

PS: I noticed it also depends on `lofar` package, and I'm having issues compiling it.
I will update this issue once I get it to work.

[2022-03-17 08:47] StFroese commented on #257
@Athanaseus installing `lsmtool` now works, thx.
Is there a reason why the `lofar` package was only available until kern-5? I can't find the binary package in kern-7.

[2022-03-21 13:16] gijzelaerr commented on #257
the lofar package has been split up and depricated. If you need the LOFAR package you are stuck with kern-5.

[2022-03-22 07:38] JSKenyon opened #258 "Problems installing wsclean"
On Ubuntu 20.04 using KERN-7, `wsclean` fails to install with messages like:

[code]

I have verified that I have no held packages and I believe that I ran into the same issue on my previous PopOS install.

[2022-03-22 08:07] Athanaseus commented on #258
Thanks for the issue @JSKenyon.

Can you please provide output of `apt search wsclean`

[2022-03-22 08:11] JSKenyon commented on #258
[code]

[2022-03-22 08:21] Athanaseus commented on #258
Somehow I cannot reproduce this error.
It installs successfully on my ubuntu20 desktop and on a docker container.

Also make sure that the restricted and multiverse:
 `sudo apt-add-repository multiverse`
 `sudo apt-add-repository restricted`

[2022-03-22 08:28] JSKenyon commented on #258
I already have both of those - maybe something strange has happened. I find it odd that I ran into this on my old system too. Completely possible that the error is on my end. I already went ahead an installed from source so this isn't blocking me. Just strange that this and only this seems to give me problems.

[2022-03-22 08:57] gijzelaerr commented on #258
What error do you get if you apt-get install libwsclean2

[2022-03-22 09:31] JSKenyon commented on #258
[code]

[2022-03-22 09:36] gijzelaerr commented on #258
And what happens if you install libidg0-api0 manually? Follow the trail

[2022-03-22 09:40] JSKenyon commented on #258
Ah, it is the image domain gridding stuff. It wants cuda related dependencies. Perhaps because I have a GPU?

[code]

[code]

[2022-03-22 09:40] JSKenyon commented on #258
I can follow along further  - just shout if you think it is needed.

[2022-03-22 14:41] gijzelaerr commented on #258
yeah please follow. it looks like it can't install nvidia drivers and cuda. is your system up-to-date using `apt-get upgrade`? Are you sure you have `restricted` enabled? can you install cuda?

[2022-03-23 08:54] JSKenyon commented on #258
Looks like that last one was the problem. I manually installed `libnvidia-compute-418-server` and now I can install `wsclean`. I do not know why that specific package would cause a problem though.

[2022-05-09 09:47] Athanaseus commented on #258
This rings a bell. The last time I've experienced this it was solved by updating the system and clearing cache.

`sudo apt update`
`sudo apt upgrade && sudo apt clean`

https://itsfoss.com/clear-apt-cache/

[2022-05-09 10:12] JSKenyon commented on #258
I cannot really say. I do know that installation failed literally just after I did a fresh Ubuntu install, so I wouldn't have thought there could be any state to cause problems.

[2022-05-31 17:06] o-smirnov opened #259 "wsclean/libstationresponse3 broken in KERN-6?"
After an update (of an 18.04 system), I can no longer run wsclean:

[code]

Am I missing something, stuck on an older version of something, or is the current set of packages in the repo broken?

[2022-05-31 17:20] gijzelaerr commented on #259
I'm quite sure something breaks with the upgrade path somehow, just to make sure you can continue what happens if you:
[code]

[2022-05-31 17:21] gijzelaerr commented on #259
and before you do that, what are the 14 packages that  are not upgraded and why? what do you see if you just run `apt-get dist-upgrade` now?

[2022-05-31 20:44] o-smirnov commented on #259
Just some updates to cups-related stuff that showed up in the past 2 hours. ``apt upgrade`` installs them.

Ah but look, when I reinstall, it pulls stuff from the CARTA PPA:
[code]
If I remove the CARTA PPA and install wsclean, everything works now.

So what happened, did the CARTA people upload casacore packages with a newer version that superceded the KERN versions? I vaguely remember we had sol

[2022-05-31 21:47] o-smirnov commented on #259
As I recall, CARTA needed its own specific version of the casacore libs, but you and Adrianna sorted that out...

[2022-06-01 09:29] Athanaseus commented on #259
Yes, you are right @o-smirnov, `CARTA` and `KERN` should coexist.
Unfortunately, this is what's going on:

[code]

This gives output:
[code]

This means the package still exists (**was not deleted but superseded**) on `CARTA` archive and the version is greater than that of the `KERN-6` libcasa version. When installing, the higher version always gets the priority, that's why `CARTA` version is pull

[2022-06-01 09:45] confluence commented on #259
Apologies; I did not previously realise that the superseded packages remained installable and that there are circumstances under which they could be selected for installation. I will delete these obsolete versions from the PPA.

[2022-06-01 09:47] o-smirnov commented on #259
Thanks @confluence -- would you let me know when you've done so, so I can retest the installations?

[2022-06-01 09:54] confluence commented on #259
I have just requested deletion of the two packages (for focal and bionic); it may take some time for the change to be applied.

[2022-06-01 10:57] o-smirnov commented on #259
OK looks like we're back in business -- thanks @confluence!

[2022-08-15 10:03] o-smirnov commented on #258
I can confirm this is still a problem @gijzelaerr @Athanaseus.

[code]

Why is there a hard dependency on ``libnvidia-compute-418-server``? In any case, I can't install that version since it doesn't support the GPUs in that particular mode. Perhaps the package should be repackaged with an optional dependency? 99% of our use cases of ``wsclean`` don't even involve CUDA, so it should not be holding

[2022-08-15 10:39] Athanaseus commented on #258
This is due to the hard dependency on `idg-dev` which requires Cuda libraries.
I will repackage the `wsclean` package with an optional dependency.
Perhaps in the upcoming kern release, we can have `wsclean` and `wsclean-idg`.

[2022-08-15 10:43] o-smirnov commented on #258
Yes please!

[2022-08-15 11:00] gijzelaerr commented on #258
i just tried this in a fresh focal linux/amd64 docker container, and I can't replicate this issue (kern-7 wsclean and ids install, nvidia libs install from multiverse).

Please make sure you have:
* restricted and multiverse repo enabled
* run apt-get update before you install any other packages.

[2022-08-15 11:27] JSKenyon commented on #258
Does your container have/see a GPU? I suspect that that is the crucial point.

[2022-08-15 11:28] gijzelaerr commented on #258
The packages should install without issues even if you dont have a Cuda
card installed.

On Mon, 15 Aug 2022 at 13:27, JSKenyon ***@***.***> wrote:

--
Gijs Molenaar
http://pythonic.nl

[2022-08-15 11:51] o-smirnov commented on #258
@gijzelaerr on nodes without a GPU, there is no issue because it sneakily installs ``libnvidia-compute-418-server``, which does no harm. On nodes with a GPU, it fails because 418 conflicts with the already installed GPU drivers.

[2022-08-15 12:18] gijzelaerr commented on #258
ah yes, that makes more sense. What driver do you install how? You can't mix kernsuite with non-ubuntu GPU driver repos unless we remove the cuda depending package from kern. If you say in practice nobody uses GPU support with wsclean I guess we can just do that.

[2022-08-15 12:18] gijzelaerr opened #260 "Recompile wsclean without idg support, or recompile idg without cuda support for KERN-7"

[2022-08-15 12:23] o-smirnov commented on #258
Using the official NVIDIA repo:
[code]
There'sa bit of a wrinkle because our Tesla cards are now considered "legacy", so the driver version can't go above 470 (or CUDA above 11.4). But that's not the current problem anyway.

Not at the moment, but why not make it optional like @Athanaseus suggests?

[2022-08-15 12:23] JSKenyon commented on #258
I think that @Athanaseus's idea was sound - make two packages. I don't think we want to completely cut off the option of using IDG with GPU support.

[2022-08-15 12:30] gijzelaerr commented on #258
ok, i think the easiest way is to just clone the https://github.com/kernsuite-debian/wsclean repo to https://github.com/kernsuite-debian/wsclean-idg and then update the packages accordingly.

[2022-08-15 20:05] Athanaseus commented on #258
KERN-7 `wsclean` (2.10.1-1kern2) update should be ready to install.
`wsclean-idg` with the latest `wsclean` will be made available in KERN-8.

`apt update && apt install wsclean`

[2022-08-23 12:50] Athanaseus commented on #260
Recompiled `wsclean` without idg support.
Now available on KERN-7.

[2022-08-23 12:51] #259 closed